::placeholder {
  opacity: 0.4;
  color: #000;
}

.auth-page {
  text-align: center;
  max-width: 600px;
  margin: 150px auto 0 auto;

  .btn-reg {
    margin-left: 10px;
  }
}

h5, h4 {
  color: #333333;
  margin-bottom: 30px;
  margin-top: 50px;
}
