.todos {
  margin-top: 50px;
  overflow-y: auto;
  height: auto;
  &-item {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-left: 2px solid #2196f3;
    position: relative;
    &.completed {
      &::after {
        position: absolute;
        content: '';
        left: 25px;
        width: 800px;
        top: 50%;
        height: 2px;
        background: #2196f3;
      }
    }
    &.important {
      font-weight: 400;
      color: #ff9800;
    }
  }
  &-buttons {
    margin-left: auto;
    display: flex;
    i {
      margin: 0 8px;
      z-index: 1;
      &:hover {
        transform: scale(1.4);
        transition: transform 0.3s ease;
      }
    }
  }
}